.planet {
  width: 100px;
  height: 100px;
}

@media all and (min-width: 768px) {
  .container {
    padding-top: 60px;
  }
}

.App-header {
  background-color: #2b223e !important;
}

#background {
  background-image: url(../images/Space_background.jpg);
  background-repeat: no-repeat;
  background-size: 1500px;
}

html {
  background-color: #2b223e;
}
