html {
  background-color: black;
  font-family: "Rubik", sans-serif;
}

.fullscreen {
  width: 100vw;
  padding-left: 0;
  padding-right: 0;
}

h1,
h2,
h3 {
  font-weight: bold;
}
#space {
  background-image: url("../images/Space_background.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
  background-color:#2b223d;
  height: 77vh;
  margin-top:5vh;
}

.registrationText {
  text-align:center;
  margin-bottom:3rem;
}

#registrationText h2 {
  font-weight: bold;
}

#registrationButton {
  margin: auto;
  width: 50%;
  padding:10px;
}

.registration{
  margin-top:20vh;
}


/* #registerPress h3 {
  margin-top: 0vh;
  margin-left: 2vw;
} */

#appDescription {
  background: silver;
  height: 80vh;
}

#appDescriptionElements {
  margin-top: 10vh;
}

#appDescriptionElements p {
  font-size: 2vh;
}

#laptop{
  margin:auto;
  width:50%;
  padding:10px;
}